{% extends "base.html" %}
{% block content %}
<div class="grid grid-cols-1 gap-2 mt-4 w-full">
    <h2 class="text-center text-2xl">About Tech Genesis</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad et sit dolorem necessitatibus, molestiae asperiores ipsum corrupti accusantium distinctio harum qui quisquam recusandae aliquam ipsam architecto praesentium soluta cum illum!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad et sit dolorem necessitatibus, molestiae asperiores ipsum corrupti accusantium distinctio harum qui quisquam recusandae aliquam ipsam architecto praesentium soluta cum illum!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad et sit dolorem necessitatibus, molestiae asperiores ipsum corrupti accusantium distinctio harum qui quisquam recusandae aliquam ipsam architecto praesentium soluta cum illum!</p>
</div>
{% endblock %}